<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>{{ title }}</title>
<meta name="description" content="{{ description }}">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/search.css">
<link rel="stylesheet" href="/assets/pagefind/pagefind-ui.css">
<script src="/assets/pagefind/pagefind-ui.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>