{% assign categoryList = "" %}

<aside>
  <nav>
    <ul>
      <li>categories</li>
      {% for post in collections.all %}
        {% if post.data.category %}
          {% if categoryList contains post.data.category %}
            {% continue %}
          {% else %}
            {% assign categoryList = categoryList | append: post.data.category | append: "," %}
            <li>
              <a href="/posts/{{ post.data.category }}/" class="{% if post.data.category == currentCategory %}active{% endif %}">
                {{ post.data.category }}
              </a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</aside>