<aside>
  <nav class="navbar">
    <ul>
      <li class="navbar-brand">
        <a href="/">Riste Stojanov</a>
      </li>
      <li>
        <a href="/posts/page/1/" class="{% if currentPage startswith '/posts/' %}active{% endif %}">Blog</a>
      </li>
      {% for page in collections.sortedNavigation %}
        {% unless page.url == "/" %}
          <li>
            <a href="{{ page.url }}" class="{% if page.url == currentPage %}active{% endif %}">
              {{ page.data.eleventyNavigation.title | default: page.data.title }}
            </a>
          </li>
        {% endunless %}
      {% endfor %}
    </ul>
    <ul class="info-section">
      <li class="icons">
        <a href="https://github.com/ristedev" class="icon" aria-label="ristedev on GitHub">{% icon "github-large" %}</a>
        <a href="/rss.xml" class="icon" aria-label="Subscribe to my RSS feed">{% icon "rss" %}</a>
        <a href="mailto:hi@riste.net" class="icon" aria-label="Email me">{% icon "mail" %}</a>
      </li>
      <li id="last-updated">Loading...</li>
    </ul>
  </nav>    
</aside>

<script src="/assets/js/fetchLatestCommit.js" defer></script>