<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {% include "head.html" %}
    </head>
    <body>
        <div class="container my-5">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    {% include "sidenav.html" %}
                </div>
                <div class="col-12 col-md-8 col-lg-9 main-box">
                    {% unless page.url == "/" %}
                        <h1>{{ title }}</h1>
                    {% endunless %}
                    {{ content }}
                </div>
            </div>
        </div>
    </body>
</html>
