<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {% include "head.html" %}
        <link rel="stylesheet" href="/assets/css/search.css">
        <link rel="stylesheet" href="/assets/pagefind/pagefind-ui.css">
    </head>
    <body>
        <div class="container">
            <div class="sidebar">
                {% include "sidenav.html" %}
            </div>
            <main>
                <h1>{{ title }}</h1>
                <p>Browse the following posts, or search for a keyword.</p>
                <div id="search"></div>
                <script>
                    window.addEventListener('DOMContentLoaded', (event) => {
                        new PagefindUI({ element: "#search", showSubResults: true });
                    });
                </script>
                {{ content }}
            </main>
        </div>
        <script src="/assets/pagefind/pagefind-ui.js" defer></script>
    </body>
</html>
