<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {% include "head.html" %}
    </head>
    <body>
        <div class="container my-5">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    {% include "sidenav.html" %}
                    {% include "post-categories-sidenav.html" %}
                </div>
                <div class="col-12 col-md-8 col-lg-9 main-box">
                    <h1>{{ title }}</h1>
                    <p>Browse the following posts, or search for a keyword.</p>
                    <div id="search"></div>
                    <script>
                        window.addEventListener('DOMContentLoaded', (event) => {
                            new PagefindUI({ element: "#search", showSubResults: true });
                        });
                    </script>
                    {{ content }}
                </div>
            </div>
        </div>
        {% include "footer.html" %}
    </body>
</html>
