@font-face {
    font-family: 'Source Sans 3';
    src: url('/fonts/SourceSans3-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('/fonts/SourceSans3-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #191919;
    color: #a6a6a6;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;
}

.container {
    flex: 1;
}

h1 {
    margin-bottom: 2.5%;
}

a {
    color: #fafafa;
}

nav ul li{
    margin-bottom: 15px;
    padding: 5px;
    list-style: none;
    text-align: right;
}

nav ul li:first-child {
    font-size: x-large;
}

nav ul li a {
    text-decoration: none;
    padding: 5px;
}

nav ul li a:hover, nav ul li a.active {
    background-color: #fafafa;
    color: #191919;
}

.main-box {
    padding-left: 50px;
}

@media screen and (max-width: 768px) {
    nav ul li{
        text-align: left;
    }
    nav ul li a {
        padding: 5px 5px 5px 0;
    }
    .main-box {
        margin-top: 5%;
        padding: 0 5% 0;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.pagination a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fafafa;
    margin-right: 5px;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    height: 40px;
    font-weight: bold;
}

.pagination a:hover {
    background-color: #343434;
}

svg {
    display: inline-flex;
    margin-bottom: 2.5px;
}

pre {
    background-color: #000 !important;
}

footer {
    background-color: #262626;
}

footer p {
    margin-bottom: 0rem;
}

footer a {
    text-decoration: none;
}