@font-face {
    font-family: 'Source Sans 3';
    src: url('/assets/fonts/SourceSans3-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('/assets/fonts/SourceSans3-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #0f0f0f;
    color: #dbdbdb;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;
}

.container {
    flex: 1;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
}

h1 {
    font-weight: bold;
}

h3 {
    font-size: 1.25rem;
}

a {
    color: #dbdbdb;
}

nav ul li{
    margin-bottom: 15px;
    padding: 5px;
    list-style: none;
    text-align: right;
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover, nav ul li a.active {
    background-color: #333333;
}

.main-box {
    padding-left: 50px;
}

@media screen and (max-width: 768px) {
    nav ul li{
        text-align: left;
    }
    nav ul li a {
        padding: 5px 5px 5px 0;
    }
    .main-box {
        margin-top: 5%;
        padding: 0 5% 0;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.pagination a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fafafa;
    margin-right: 5px;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    height: 40px;
    font-weight: bold;
}

.pagination a:hover {
    background-color: #343434;
}

svg {
    display: inline-flex;
    margin-bottom: 2.5px;
}

pre {
    background-color: #000 !important;
}

footer {
    background-color: #262626;
}

footer p {
    margin-bottom: 0rem;
}

.codify {
    font-family: 'Source Code Pro', monospace;
}

article a {
    text-decoration: none;
    color: #ffffff;
}

article a:hover {
    text-decoration: underline;
}

.post-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;
}

.post-preview {
    background: #1f1f1f;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post-preview-date {
    font-size: 1rem;
    color: #b3b3b3;
}

.post-preview-title {
    font-weight: bold;
    margin: 5px 0;
    text-decoration: none !important;
}

.post-preview-description {
    margin: 0;
    color: #dbdbdb;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .post-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .post-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}