body {
    background-color: #191919;
    color: #a6a6a6;
}

h1 {
    margin-bottom: 2.5%;
}

h1 a {
    color: #fafafa;
}

h1 a:hover {
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
}

nav ul li{
    margin-bottom: 15px;
    padding: 5px;
    list-style: none;
    text-align: right;
}

nav ul li:first-child {
    font-size: x-large;
}

nav ul li a {
    text-decoration: none;
    color: #fafafa;
    padding: 5px;
}

nav ul li a:hover {
    background-color: #fafafa;
    color: #191919;
}

.main-box {
    padding-left: 50px;
}

pre:has(code) {
    background-color: #000;
    color: #fafafa;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    nav ul li{
        text-align: left;
    }
    nav ul li a {
        padding: 5px 5px 5px 0;
    }
    .main-box {
        margin-top: 5%;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.pagination a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fafafa;
    border: 1px solid #fafafa;
    margin-right: 5px;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    height: 40px;
    font-weight: bold;
}

.pagination a:hover {
    background-color: #343434;
  }